@import url('https://fonts.googleapis.com/css2?family=Alkalami&family=Montserrat:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
}
body {
    font-family: montserrat ,sans-serif;
    font-weight: 300;
    color: #2F4F4F;
}

/* headings and logo*/

h1, h2 {
    font-family: alkalami,sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #1c3131;
}

#logo{
    float: left;
    font-size: 280%;
}
